name: Test Suites for PR
on:
  pull_request:

jobs:
  hide-old-github-action-comments:
    runs-on: ubuntu-latest
    steps:
      - uses: int128/hide-comment-action@v1

  static-analysis-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup LocalStack
        id: setup-localstack
        uses: ./.github/actions/setup-localstack

      - name: Static Analysis Tests
        id: static-analysis-tests
        uses: ./.github/actions/static-analysis-tests

  # unit-tests:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3

  #     - name: Setup LocalStack
  #       id: setup-localstack
  #       uses: ./.github/actions/setup-localstack

  #     - name: Unit Tests
  #       id: unit-tests
  #       uses: ./.github/actions/unit-tests
